<% if logged_in? %>

<h1> Voici tous les membres du Club échangiste </h1>

<% @users.each do |user| %>
<p>Nom : <%= user.last_name %></p>
<p>Prenom : <%= user.first_name %></p>
<p>Email : <%= user.email %></p>

<hr>

<% end %>

<% else %>
<%= flash[:danger] = "Vous devez être connecté pour acceder à cette page" %>

<%= link_to "CONNECTE TOI !", login_path, class:"btn btn-danger" %>
<% end %>
